[Desktop Entry]
Encoding=UTF-8
Name=Lien vers TP2_images_Master1.pdf
Type=Link
URL=http://www2.lirmm.fr/~wpuech/enseignement/master_informatique/Analyse_Traitement_Image/TP/TP2/TP2_images_Master1.pdf
Icon=application-pdf
